/* General classes */

body{
    background: whitesmoke;
}

.margin-con{
    margin-right: 1%;
    margin-left: 1%;
    background: white;
    padding: 1.5%;
}

.block-text{
    margin-bottom: 0.5%;
    text-align: center;
}

.top-row{border-top: 1px solid gainsboro;}

.more-pad{ padding-top: 5%;}



/* 1 - First container */

header{
    height: 2.5em;
    background: #f72210;
    color: white;
}


/* 2 - Second container - Top Story */

.box2{
    height: 30rem;
    border: black solid 1px;
}

/* 3 - Third container - More Stories */

.third{
    height: 82rem;
}

.box3{
    background: rgb(70, 122, 70);
    border: 1px solid black;
    height: 10rem;
}

/* 4 - Fourth container - More Stories */

.fourth{
    height: 81rem;
}

.box4{
    background: rgb(156, 89, 147);
    border: 1px solid black;
    height: 20rem;
}


/* 5 - Fourth container - Opinion */

.fifth{

    height: 103rem;
}

.box5{
    background: rgb(236, 132, 132);
    border: 1px solid black;
    height: 5.7rem;
}

/* 6 - Sixth container - Latest news */


.box6{

    background: rgb(94, 167, 163);
    border: 1px solid black;
    height: 6.4rem;

}


/* 7 - Seventh container - Sign up */


.box7{

    height: 15rem;
    background: #6e6e6e;
    border: 1px solid black;
    

}


/* 8 - eight container - See all features */

.box8{

    background: #f79310;
    border: 1px solid black;
    height: 34rem;
}


.box8-big{
    background: #f79310;
    border: 1px solid black;
    height: 78wv;
}

/* 9 - ninth container - in the magazine */

.box9{
    background: #ff80ff;
    border: 1px solid black;
    height: 16rem;
}


/* 10 - tenth container - editor's picks */

.tenth h1{
    font-size: 1.2em; font-weight: bold; padding-top: 1%;
    display: inline-block; margin-left: 0.5%;
}

.block-text img{width: 30px;}

.box10{
    height: 105vw;
}

.box10 img{ padding-top: 5%; width: 90vw; }

.box10 h2{
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 1%;
}

.box10 p{font-size: 0.9em;}

.image-cont{
    position: relative;
}

.tag10{
    height: 2rem;
    width: 22%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag10 h3{color: #f72614; font-weight: bold; font-size: 1.1em; padding-top: 8%;}

@media (min-width: 740px){
    .box10{height: 40vw;}
    .box10 img{padding-top: 5%; width: 20vw;}
}



/* 11 - eleventh container - slide shows */

.box11{

    height: 87vw;
    margin-top: 1%;
 
}

.eleventh h1{
    font-size: 1.2em; font-weight: bold; padding-top: 1%;
    display: inline-block; margin-left: 0.5%;
}

.box11 img{
    width: 87vw;
    padding-top: 1%;
    } 


.box11 h2{font-size: 1em; font-weight: bold; margin-top: 2%;}

.image-cont11{
    position: relative;
    width: 90%;
}

.tag11{
    height: 2.2rem;
    width: 22%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag11 h3{color: #f72614; font-weight: bold; font-size: 1.2em;
     padding-top: 7%; width: 40%; border: 1px solid #f72614;
    text-align: center; margin-top: 2%; }

@media (min-width: 768px){

.box11{padding-left: 1.5%;
        height: 29vw;}

.box11 img{
    width: 28vw;
    padding-top: 2%;
                        }  }

/* 12 - twelfth container - off-topics */

.box12{
    width: 100%;
}


.box12-up{
    height: 92vw;
    padding: 2%;

}

.box12-up img{
    width: 92vw; padding-top: 3%; }


.box12-up h2{
        font-size: 1em; font-weight: bold; padding-top: 2%;}


.box12-down{
    height: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid gainsboro;
}

.noborder{border: none;}

.box12-down img{
    width: 35vw; padding-top: 3%; }



.box12-down h2{
        width: 50%; padding-top: 3%; font-size: 0.9em; font-weight: bold; }


.title-off{
    color: #f72210;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 1.6%;
    margin-bottom: -7.7%;
}


@media screen and (min-width: 768px){

    .title-off{margin-bottom: -3%;}

    .more-pad{ padding-top: 1%;}


    .box12-down{height: 11.5vw;      }

    .box12-up{height: 37vw; }

    .box12-up img{
        width: 29vw; padding-top: 3%; margin-right: 4%; padding-right: 2%; }
    
    
    .box12-up h2{
            font-size: 1em; font-weight: bold; padding-top: 2%;}



    .box12-down img{
                width: 12vw; height: 120px; padding-top: 3%; }

    .box12-down h2{
                width: 58%; padding-top: 3%; font-size: 0.9em; font-weight: bold; }

}

@media screen and (min-width: 1440px){

    .box12-down img{
        width: 15vw; height: 140px; padding-top: 3%; }

.box12-down h2{
        width: 42%; padding-top: 3%; font-size: 1.2em; font-weight: bold; }
}


/* 13 - thirteenth container - subscribe */

.box13{
    height: 120vw;
    background: whitesmoke;
    width: 100%;
    margin: 2%;
}

.title-subscribe{
    color: #f72210;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: -1%;
    margin-left: 1%;
}

.box13-up{
    height: 40%;
}

.box13-up-left{

    width: 45%;
    height: 100%;
    padding: 2%;
}

.box13-up-left img{
    width: 90%;
}

.box13-down{
    height: 60%;
}

.box13-down-left{

    width: 45%;
    height: 100%;
    padding: 2%;
}

.box13-down-left img{
    width: 85%;
}

@media screen and (min-width: 768px){

    .box13{
        height: 37vw;
    }
    

}

/* 14 - fourteenth container - most read */

.box14{height: 50vw; background: rgb(255, 255, 255);}

.box14-divs{
    height: 33vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid gainsboro;
    padding-top: 3%;
    background: white;
}

.box14-divs-left{
    height: 100%;
    width: 40%;
    padding: 1%;
}

.box14-divs-right{ width: 60%; height:100%;}

.box14-divs-right h2{ font-size: 0.9em; font-weight: bold;}



.box14-divs-left img{      width: 90%;  height: 80%;   justify-content: center;}

.most-reads{ color: darkslategray; font-size: 0.9em; font-weight: bold;}


@media screen and (max-width: 768px){

    .box14{padding-top: 5%;}
    

}

@media screen and (min-width: 768px){

    .box14-divs{
        height: 7vw;
    }

    .box14{height: 40vw;}
    

}


/* 15 - fifteenth container - footer */

.fifteenth{
    height: 10rem;
    width: 100%;
    background: rgb(146, 146, 146);
}

@media screen and (max-width: 768px){
   .fifteenth{ margin-top: 130%;}
}