/* General classes */

body{
    background: whitesmoke;
}

.margin-con{
    margin-right: 1%;
    margin-left: 1%;
    background: white;
}


/* 1 - First container */

header{
    height: 2.5em;
    background: #f72210;
    color: white;
}


/* 2 - Second container - Top Story */

.second{
    height: 30rem;
}

/* 3 - Third container - More Stories */

.third{
    height: 82rem;
}

.box3{
    background: rgb(70, 122, 70);
    border: 1px solid black;
    height: 10rem;
}

/* 4 - Fourth container - More Stories */

.fourth{
    height: 81rem;
}

.box4{
    background: rgb(156, 89, 147);
    border: 1px solid black;
    height: 20rem;
}


/* 5 - Fourth container - Opinion */

.fifth{

    height: 35rem;
}

.box5{
    background: rgb(236, 132, 132);
    border: 1px solid black;
    height: 5.7rem;
}

/* 6 - Sixth container - Latest news */

.sixth{

    height: 52rem;
}

.box6{

    background: rgb(94, 167, 163);
    border: 1px solid black;
    height: 6.4rem;

}


/* 7 - Seventh container - Sign up */

.seventh{

    height: 16rem;
}

.box7{

    height: 15rem;
    background: #6e6e6e;
    border: 1px solid black;
    

}


/* 8 - eight container - See all features */

.box8{

    background: #f79310;
    border: 1px solid black;
    height: 34rem;
}


.box8-big{
    background: #f79310;
    border: 1px solid black;
    height: 78wv;
}

/* 9 - ninth container - in the magazine */

.box9{
    background: #ff80ff;
    border: 1px solid black;
    height: 16rem;
}


/* 10 - tenth container - editor's picks */

.tenth h1{
    text-align: center; font-size: 1.2em; font-weight: bold; padding-top: 1%;
}

.box10{
    height: 105vw;
}

.box10 img{ padding-top: 5%; width: 90vw; }

.box10 h2{
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 1%;
}

.box10 p{font-size: 0.9em;}

.image-cont{
    position: relative;
}

.tag10{
    height: 2rem;
    width: 22%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 740px){
    .box10{height: 40vw;}
    .box10 img{padding-top: 5%; width: 20vw;}
}


.tag10 h3{color: #f72614; font-weight: bold; font-size: 1.1em; padding-top: 8%;}
/* 11 - eleventh container - slide shows */

.box11{
    background: #3c7aec;
    border: 1px solid black;
    height: 21rem;
}

/* 12 - twelfth container - off-topics */

/* 13 - thirteenth container - subscribe */

/* 14 - fourteenth container - most read */

/* 15 - fifteenth container - footer */
